@model IQueryable<Author>
@{
    string strTitle = "Edit authors";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="AuthorItems" asp-action="Edit" asp-route-id="">Add an author</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (Author entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="AuthorItems" asp-action="Edit" asp-route-id="@entity.Id">edit</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="AuthorItems" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Delete</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Authors" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Name}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>