@model List<PaintingViewModel>
@{
    PageTextField pageTextField = ViewBag.PageTextField;
    ViewBag.Title = pageTextField.Title;
}

<div>
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach(PaintingViewModel entity in Model)
            {
                <li>
                    <a asp-asp-area="" asp-controller="Paintings" asp-action="Index" asp-route-id="@entity.PaintingId">
                        <img src="~/images/@entity.PaintingImagePath" alt="" class="left"/>
                    </a>
                    <h4>@entity.PaintingTitle</h4>
                    <p>@entity.PaintingDateCreated</p>
                    <p>@entity.PaintingAuthorName</p>
                    <p>@entity.PaintingCategoryName</p>
                    <form style="display: inline-block;" asp-area="" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@entity.PaintingId" method="post">
                        <input type="submit" value="AddToCart">
                    </form>
                </li>
            }
        </ul>
    }
</div>